* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;
}

body {
  background: #020617;
  color: #e5e7eb;
  direction: rtl;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #38bdf8;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #e5e7eb;
}

/* Buttons */
.btn {

    padding: 10px 18px;

    border-radius: 6px;

    background: #38bdf8;

    color: #020617;
}

/* Hero */
.hero {

    text-align: center;

    margin-top: 120px;
}

.hero h1 {

    font-size: 48px;

    margin-bottom: 20px;
}

.hero p {

    max-width: 600px;

    margin: auto;

    color: #94a3b8;

    font-size: 18px;
}

/* Features */
.features {
display: flex;
justify-content: center;
gap: 30px;
margin: 120px 60px;
}

.card {
background: #0f172a;
padding: 30px;
border-radius: 12px;
width: 260px;
}

.card h3 {
color: #38bdf8;
margin-bottom: 15px;
}

/* Footer */
footer {
text-align: center;
padding: 30px;
color: #94a3b8;
}
